
<section class="w-75 mx-auto mt-5">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
        <div>
        <h4><%= @post.title%> by user  <%= @post.author_id %></h4>
        <p><%= @post.text%></p>
        <%= link_to 'Delete', user_post_path(@post.id), method: :delete, class: 'btn-sm btn btn-danger' %>
        <%= link_to 'Back', user_posts_path, class: 'btn-sm btn btn-secondary' %>  
        </div>
        <small>Comments:<%= @post.comments.count%> Likes:<%= @post.likes.count%></small>
        </div>
        <div class="card-footer">
        <h6>Comments:<%=@post.comments.count %></h6>
        <% @post.comments.each do |comment|%>
          <h5>User: <%=comment.author_id%></h5>
          <p>comment: <%= comment.text%></p>
          <% end%>
        </div>
      </div>
</section>









  

  

  

 